/* NotFoundPage.css */
.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55vh;
    margin-top: 15vh;
    /* Full height of the viewport */
    text-align: center;
}

.not-found-title {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.not-found-text {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.back-home-link {
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.back-home-link:hover {
    background-color: #0056b3;
}