.card-container {
    box-shadow: 1px 1px 1px 1px rgba(179, 172, 172, 0.2);
    display: flex;
    width: 40%;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
}

.card-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    margin-right: 20px;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}

.card-heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-desc {
    font-size: 1rem;
    width: 100%;
    color: gray;
    letter-spacing: 1px;
}

.card-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 20px;
    text-decoration: none;
}

.card-btn:hover {
    color: #1a73e8;
}