.container-fluid {
    background-color: #E3F4F4;
    padding: 1rem;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 150px;
    margin-left: 180px;
  }
  
  .col-6 {
    margin-bottom: 1rem;
  }
  
  h5 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  
  .nav {
    list-style: none;
  }
  
  .nav-link {
    text-decoration: none;
    color: #b0b0b0;
    padding: 0.25rem 0;
    display: block;
  }
  
  h2 {
    margin-top: 10px;
    margin-left: 100px;
  }
  
  ul.list-unstyled {
    display: flex;
    padding: 0;
    list-style: none;
    margin-left: 96px;
  }
  
  li img {
    width: 32px;
    height: 32px;
    padding: 1px;
  }
  
  .border-top {
    margin-top: 1rem;
    border-top: 1px solid #777;
    padding-top: 1rem;
    text-align: center;
    font-size: 14px;
  }

  .t1{
    margin-left: 150px;
  }
  