.card {
    display: inline-block;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    width: 300px; 
    margin: 15px;
    padding: 20px;
    border: 1px solid #7b95ec;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin-bottom: 20px; 
  }

  .card img {
    max-width: 100%;
    height: auto;
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 1rem;
  }
  
  .btn-primary {
    margin-top: 10px;
  }
  .row {
    display: flex; /* Ensure the row items align horizontally */
    justify-content: space-around; /* Space items evenly across the row */
    /* justify-content: space-evenly; */
    margin: 0 -15px; /* Compensate for negative margins on columns */
    flex-wrap: wrap;
  }