.card {
    display: inline-block;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    width: 300px; 
    height: 480px;
    margin: 15px;
    padding: 20px;
    border: 1px solid #7b95ec;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin-bottom: 20px; 
  }

  .card img {
    max-width: 100%;
    height: auto;
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 1rem;
  }
  
  .btn-primary {
    margin-top: 10px;
  }
  .row {
    display: flex; /* Ensure the row items align horizontally */
    justify-content: space-around; /* Space items evenly across the row */
    /* justify-content: space-evenly; */
    margin: 0 -15px; /* Compensate for negative margins on columns */
    flex-wrap: wrap;
  }
  .gethelp-container {
    align-items: center;
    /* margin: 5%; */
    margin-top: 120px;
    margin-left: 17vh;
    margin-bottom: 1vh;
    padding: 0%;
    width: auto; /* or a specific value */
    max-width: 100%;
  }
  .box-style{
    background-color: #acd4ea;
  }
  .page-container {
    /* Set the background image and overlay gradient */
    /* background-image: url('https://images.pexels.com/photos/5326909/pexels-photo-5326909.jpeg?auto=compress&cs=tinysrgb&w=600'); Replace with your image URL */
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    position: relative;
    background-image: linear-gradient(#edecab,rgb(164, 203, 239),#78d2c2, rgb(189, 235, 240),#e7e6a2);
  }
  
  /* Overlay gradient */
  .page-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3)); /* Adjust opacity as needed */
  }
  b{
    font-family: bernard;
    color: #350848;
  }
  