.card {
  display: inline-block;
  width: 300px;
  height: 480px;
  margin: 15px;
  padding: 20px;
  border: 1px solid #7b95ec;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin-bottom: 20px;
}

.card img {
  max-width: 100%;
  height: auto;
}

.card-body {
  text-align: center;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.005vh;
}

.card-text {
  font-size: 1rem;
}

.doctorname {
  font-weight: bold;
  font-family: bernard;
  font-size: 3vh;
}

.btn-primary {
  margin-top: 10px;
}

.row {
  display: flex;
  justify-content: space-around;
  margin: 0 -15px;
  /* Compensate for negative margins on columns */
  flex-wrap: wrap;
}

.gethelp-container {
  align-items: center;
  margin-top: 16vh;
  margin-left: 20vh;
  margin-right: 17vh;
  margin-bottom: 1vh;
  padding: 0%;
}

.box-style {
  background-color: #a5d1ee;
}

.page-container {
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: linear-gradient(#fcfa82, rgb(164, 203, 239), #78d2c2, rgb(189, 235, 240), #e7e6a2);
}

.page-container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
  /* Adjust opacity as needed */
}

.font-style {
  font-family: bernard;
  color: rgb(51, 8, 73);
  font-weight: bolder !important;
}

.doctor-image {
  border: 0.05vh solid black;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin-bottom: 1vh;
  height: 150px;
  width: 150px;
  object-fit: cover;
}