.navbar-container {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
    z-index: 9999;
    /* background-color: #E3F4F4; */
    background-color: #b2e3d5
    /* background-color: #b4d9eb; */
}

.navbar-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
    flex: wrap;
    color: #42ba97 !important;
}

.navbar-logo-link {
    color: black;
    text-decoration: none;
    /* font-style: oblique; */
}

.navbar-link {
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 19px;
    color: #215d4b;
}

.navbar-link:hover {
    color: #645a5a;
}
.navbar-link:active{
    color: rgb(186, 66, 180);
}
.navbar-link:focus{
    color: rgb(36, 67, 190);
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
