.results-container {
    padding-top: 15vh;
    height: 85vh;
    width: 100%;
}

.resultcards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}